<h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;margin-top: 25px">Customer Profile</h2> 
<hr style="margin-left: 60px; margin-right: 60px"/>

<!-- <div>
  <div style="text-align: justify; margin-top: 50px; padding-bottom: 80px; margin-left: 100px">
    <h5 style="padding-bottom: 20px">Customer Name:{{customer.fullName}}</h5>
    <h5 style="padding-bottom: 20px">Customer UpiId: {{customer.upiId}}</h5>
    <h5 style="padding-bottom: 20px">Account Balance: {{customer.balance}}</h5>
    <h5 style="padding-bottom: 20px">Mobile Number: {{customer.mobileNo}}</h5>
    <h5 style="padding-bottom: 20px">Email Address: {{customer.emailAddress}}</h5> 
  </div>
</div> -->



<div class="row">
  <div class="column">
    <div style="text-align: justify; margin-top: 20px; padding-bottom: 40px; margin-left: 100px">
      <h5 style="padding-bottom: 20px">Customer Name:{{customer.fullName}}</h5>
      <h5 style="padding-bottom: 20px">Customer UpiId: {{customer.upiId}}</h5>
      <h5 style="padding-bottom: 20px">Account Balance: {{customer.balance}}</h5>
      <h5 style="padding-bottom: 20px">Mobile Number: {{customer.mobileNo}}</h5>
      <h5 style="padding-bottom: 20px">Email Address: {{customer.emailAddress}}</h5>
      <br>
      <button (click)="delete()" class="btn btn-primary">Close Account</button>
    </div>
  </div>
  <div class="column">
    <img src="assets/images/profile.jpg"
      height="200"
      width="300"
      style="margin-top: 20px; margin-left: 80px"
      />
  </div>
</div>










<!-- <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center">User Profile</h2> 
<div style="margin-left: 100px; margin-right: 100px; font-family: Arial, Helvetica, sans-serif;text-align: center">
<hr/>

  <div >
    <label><b>Customer Name: </b></label> {{customer.fullName}}
  </div>
  <div>
    <label><b>Customer UpiId: </b></label> {{customer.upiId}}
  </div>
  <div>
    <label><b>Account Balance: </b></label> {{customer.balance}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-success">Edit Profile</button><br> -->



<!-- <div style="text-align: center">
      <img src="assets/images/profile.jpg"
      height="200"
      width="200"
      style="margin-top: 50px; margin-left: 500px"
      />
      
  </div> -->


